:root {
  --a: #dbd5a4; /*gradient a*/
  --b: #649173; /*gradient b*/
  --c: #242324; /*dark a*/
  --d: #979797; /*dark b*/
  --e: #e7e7e7; /*light a*/

  color: var(--e);
  background-color: var(--c);

  font-family: "Courier New", monospace;
}

button {
  transition-duration: 0.25s;
  transition-property: all;
}

h1 {
  font-family: "Jetbrains Mono", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
  margin-left: 40%;
}

.topnav {
  z-index: 5;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--d);

  background-color: var(--c);

  position: sticky;
  overflow: hidden;
  top: 0;
  margin: -8px;
  margin-bottom: 10px;
}

.topnav button {
  color: var(--e);

  background-image: linear-gradient(to bottom right, var(--a), var(--b));
  background-clip: text;

  border-width: 0px;
  border-left: solid;
  border-left-width: 1px;
  border-left-color: var(--d);

  background-color: var(--c);

  text-decoration: none;

  padding: 0.4% 1.25%;
  float: right;
  font-weight: bolder;
  font-size: 200%;
  line-height: 150%;
  text-align: center;

  margin-bottom: -2px;
}

.topnav button:active {
  color: transparent;
}

.topnav div {
  background-image: linear-gradient(to bottom right, var(--a), var(--b));
  border-radius: 5px;
  line-height: 10%;
}

.topnav img {
  display: block;
  transition: width 0.25s;
  width: 50px;
}

h1 {
  font-size: 300%;
  font-weight: 1000;
}
p {
  padding-left: 2.5%;
  font-size: 150%;
}

.section {
  border-top: solid;
  border-top-width: 1px;
  border-top-color: var(--d);

  padding-left: 2%;
  padding-right: 2%;
}

.leftImage {
  position: absolute;
  float: left;
}

.hero {
  padding-top: 30px;
  padding-bottom: 20%;

  background-image: radial-gradient(var(--d) 1.5px, transparent 0);
  background-size: 40px 40px;
}
.hero h1 {
  padding-top: 10%;
  padding-left: 40%;
  font-size: 400%;
  font-weight: 1000;
}

.hero p {
  padding-top: -20%;
  padding-left: 45%;
  font-size: 250%;
  font-weight: 1000;
}

.tileSection {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}

.tile {
  border-style: solid;
  border-color: var(--d);
  border-width: 1px;

  background-color: var(--c);

  padding: 0.5%;
  min-width: 350px;
  width: 30%;
  margin: 0.8%;

  transition-duration: 0.25s;
  transition-property: all;
}

.tile h1 {
  font-size: 150%;
  font-weight: 1000;
}

.tile button {
  width: 100%;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  background: transparent;
  border: none !important;
  transition-duration: 0.25s;
}

.tile button:hover {
  scale: 1.1;
}

.tile:hover {
  border-style: solid;
  border-color: var(--d);
  border-image: linear-gradient(to bottom right, var(--a), var(--b)) 1;
  border-width: 1px;
}

.tile img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.skill-bar {
  border: solid;
  border-width: 1px;
  border-color: var(--d);
  border-radius: 0px;
}

.bar-words {
  float: right;
  margin-right: 5%;
}

.about-me {
  padding-bottom: 1%;
}

.projects {
  border-width: 0px;
}

.notif {
  position: fixed;
  top: 1em;
  left: 1em;

  z-index: 100;

  padding: 1em;
  width: 16em;
  height: 7em;
  background-color: var(--c);

  border: 2px solid #bb1313;
}

.notif h2, .notif p {
  font-size: 1em;
  margin: 0;
}

.notif h2 {
  font-size: 1.3em;
}

a {
  color: var(--a);
}
